@model Solbakken.Models.RegisterModel

@{
    ViewBag.Title = "Få tilsendt nytt passord";
}

<h2>Send meg nytt passord</h2>

@if(!string.IsNullOrEmpty(ViewBag.Fail))
{
    <div class="alert alert-error">
        @ViewBag.Fail
    </div>
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.LabelFor(m => Model.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
}
