@model dynamic

@{
    ViewBag.Title = "Last opp bilde";
    var warning = (string)ViewBag.Warning;
    var success = (string)ViewBag.Success;
}
@if(!string.IsNullOrEmpty(warning))
{
    <div class="alert alert-error">
        @warning
    </div>
}

@if(!string.IsNullOrEmpty(success))
{
    <div class="alert alert-success">
        @success
    </div>
}

<h2>Last opp bilde</h2>
@using (Html.BeginForm("LastOpp", "Bilde", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>

        <div class="editor-label">
            Last opp en bildefil eller en zip-fil med mange bilder i (mindre enn 50 MB)
        </div>
        <div class="editor-field">
            <input type="file" name="fileUpload" id="fileUpload" /><br />
        </div>
        
        <div class="editor-label">
            Velg et album bildet/bildene skal legges i.
        </div>
        <div id="album" class="editor-field">
            @Html.DropDownList("AlbumId", "Velg et album")
        </div>
        <div class="editor-label">
            Skriv en kort beskrivelse av bildet/bildene
        </div>
        <div class="editor-field">
            <input id="beskrivelse" name="beskrivelse" type="text" />
        </div>

        <p>
            <input type="submit" value="Last opp" />
        </p>
    </fieldset>
}

<hr />

<h2>Last opp flere bilder</h2>

<input id="filesToUpload" type="file" multiple="multiple"/>
<br />
<div id="albumer"></div>

<input class="superknapp" type="button" onclick="showFiles()" value="Last opp flere bilder samtidig"/>
<br />
<div id="progressbar" style="margin-bottom: 20px;"></div>
<div id="fileList"></div>

<script>

    $(document).ready(function () {
        $('#AlbumId').clone().appendTo('#albumer');
        $("#albumer").first().attr("id", "multiAlbum");
        $("#progressbar").progressbar({ disabled: true });
    });

    function showFiles() {
        var input = document.getElementById('filesToUpload');
        var selectedValue = $("#multiAlbum :selected").val();
        if(selectedValue == "") {
            $("#fileList").html('<div class="alert alert-error">Du må velge et album</div>');
        }
        else {
            if(input.files.length > 0) {
                numberOfItems = input.files.length;
            }
            for (var x = 0; x < input.files.length; x++) {
                setTimeout(saveImage, 4000 * x, input.files[x], selectedValue);
            }
        }
    }

    var saveImage = function (file, albumId) {
        $.ajax({
            url: '/Bilde/UploadMultiple?filename=' + file.name + "&albumId=" + albumId,
            data: file,
            cache: false,
            contentType: 'multipart/form-data',
            processData: false,
            type: 'POST',
            success: function (results) {
                $('<div class="alert alert-success">' + results + '</div>').hide().prependTo("#fileList").fadeIn("slow");
                progress++;
                $("#progressbar").progressbar({ value: progress / numberOfItems * 100 });
            }
        });
    };

    var progress = 0;
    var numberOfItems = 1;
    
</script>