@model dynamic

@{
    ViewBag.Title = "Last opp bilde";
    var warning = (string)ViewBag.Warning;
    var success = (string)ViewBag.Success;
    var browser = Request.Browser;
}
@if(!string.IsNullOrEmpty(warning))
{
    <div class="alert alert-error">
        @warning
    </div>
}

@if(!string.IsNullOrEmpty(success))
{
    <div class="alert alert-success">
        @success
    </div>
}
<h2>Last opp flere bilder</h2>

<input id="filesToUpload" type="file" multiple="multiple" accept="image/*"/>
<br />
<div class="row">
    <div class="span3">
        <div class="editor-label">
            Velg et album bildet skal legges i.
        </div>
        <div id="album" class="editor-field">
            @Html.DropDownList("AlbumId", "Velg et album")
        </div>
    </div>
    <div class="span4 well">
        Finner du ikke et passende album? Lag et nytt @Html.ActionLink("her", "Create", "Album")
    </div>
</div>
<div class="editor-label">
    Skriv en kort beskrivelse av bildet
</div>
<div class="editor-field">
    <input id="beskrivelse" name="beskrivelse" type="text" />
</div>

<input class="superknapp" id="multibutton" type="button" onclick="showFiles()" value="Last opp alle bildene"/>
<br />
<div id="progressbar" style="margin-bottom: 20px;"></div>
<div id="fileList"></div>

<script>
    var progress = 0;
    var numberOfItems = 1;
    var files = [];
    $(document).ready(function () {
        $('#AlbumId').clone().appendTo('#albumer');
        $("#albumer").first().attr("id", "multiAlbum");
        $("#progressbar").progressbar({ disabled: true });
    });

    function showFiles() {
        progress = 0;
        files = [];
        var input = document.getElementById('filesToUpload');
        var selectedValue = $("#AlbumId :selected").val();
        if(selectedValue == "") {
            $("#fileList").html('<div class="alert alert-error">Du må velge et album</div>');
        }
        else {
            
            $("#multibutton").attr('disabled', 'disabled');
            for (var x = 0; x < input.files.length; x++) {
                var currentFile = input.files[x];
                if (currentFile.name.endsWith(".jpg") || currentFile.name.endsWith(".jpeg") || currentFile.name.endsWith(".png") || currentFile.name.endsWith(".gif")) {
                    files.push(currentFile);                    
                }
            }
            if (input.files.length > 0) {
                numberOfItems = files.length;
            }
            startSavingImages(selectedValue);
        }
    }

    function startSavingImages(albumId) {
        if(files.length !== 0) {
            var file = files.splice(0, 1);
            saveImage(file[0], albumId);
        }
        else if (files.length === 0) {
            setUserDefaults();
        }
    }

    function saveImage(file, albumId) {
        $.ajax({
            url: '/Bilde/UploadMultiple?filename=' + file.name + "&albumId=" + albumId + "&beskrivelse=" + $("#beskrivelse").val(),
            data: file,
            cache: false,
            contentType: 'multipart/form-data',
            processData: false,
            type: 'POST',
            success: function (results) {
                var toRemove = $('.imageAddedMessage').eq(2);
                if (toRemove !== undefined) {
                    toRemove.remove();
                }
                $('<div class="alert alert-success imageAddedMessage">' + results + '</div>').hide().prependTo("#fileList").fadeIn("slow");
                saveNextImage(albumId);
            },
            error: function () {
                $('<div class="alert alert-error">Noe gikk galt. Et bilde ble ikke lagt til.</div>').hide().prependTo("#fileList").fadeIn("slow");
                saveNextImage(albumId);
            }
        });
    };
    
    function saveNextImage(albumId) {
        progress++;
        $("#progressbar").progressbar({ value: progress / numberOfItems * 100 });
        startSavingImages(albumId);
    }
    function setUserDefaults() {
        $("#fileList").empty();
        $("#filesToUpload").replaceWith('<input id="filesToUpload" type="file" multiple="multiple"/>');
        $('<div class="alert alert-success">' + numberOfItems + ' bilder lastet opp.</div>').hide().prependTo("#fileList").fadeIn("slow");
        $("#multibutton").removeAttr('disabled');
        progress = 0;
        numberOfItems = 1;
        files = [];
    }
    String.prototype.endsWith = function (suffix) {
        return this.toLowerCase().indexOf(suffix.toLowerCase(), this.length - suffix.length) !== -1;
    };

    (function ($) {
        //function that gets a range of dom elements against a jQuery selector
        //returns an array of dom elements
        $.fn.getRange = function (start, end) {
            var elems = [];
            for (var i = start; i <= end; i++) {
                elems.push(this.get(i));
            }
            return elems;
        };
    })(jQuery);
</script>