@model Solbakken.Models.Bilde

<div class="span3 well" style="text-align: center;">
    <a href="/Home/Index/?albumId=@(Model.AlbumId)">
        <img src="/Home/GetThumbnail?id=@(Model.Id)" alt="@Model.Beskrivelse" title="@Model.Beskrivelse" style="vertical-align: middle; horiz-align: center; height: 90px;"/>
        <br />
        @Model.Album.Navn
    </a>

</div>